*{
    margin: 0px;
    padding: 0px;
}

.row{
    justify-content: space-between;
    align-items: center;
}

img{
    width: 286px;
    height: 220px;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}

input[name='id']{
    display: hide;
}

span{
    display: hide;
}